@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&family=Shadows+Into+Light&display=swap");

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --sub: #ff9e8d;
  --main: #da4451;
  --maindark: #b53641;
  --main-300: #942730;
  --main-500: #771e26;
  --delete: #dd3333;
  --edit: #3085d6;
  --save: #82b24f;
  --bg: #f1f4f9;
  --font: #303030;
}

@font-face {
  font-family: Analouge;
  src: url("Font/Analogue.otf");
}

body {
  font-family: "Inter", sans-serif !important;
  color: var(--font);
  background-color: #f4f5f6 !important;
}

.w-500 {
  font-weight: 500;
}

.w-700 {
  font-weight: 700 !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row,
.col {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 700;
}
.row.wrap .body .col-12.body {
  padding: 12px;
}

.row.wrap .body .col-12.body h4 {
  margin: 0;
  font-size: 18px;
}

.required {
  color: var(--delete);
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.spinner-grow {
  position: absolute;
  top: 50%;
  left: 50%;
}

a {
  text-decoration: none;
  color: var(--font);
}

.main .row {
  font-size: 12px;
}

/* Style for the div initially hidden */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in; /* Adjust duration and easing as needed */
}

/* Style for the div visible */
.fade-in.visible {
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}
